HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea/*
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

### static ###
.src/main/resources/static/xls/*
.src/main/resources/static/xml/*

src/main/resources/static/xls/PRICE_FROM_20190415S38248.xls

src/main/resources/static/xml/20190415S38248.xml
